@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%; }

a img {
  width: 20%; }

.navbar-brand {
  display: flex;
  width: 40%; }

button img {
  display: flex;
  justify-items: end;
  align-items: center; }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.container-fluid {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .navbar-nav li {
    font-family: "Noto Serif", serif;
    font-size: 3em; }
    .navbar-nav li a {
      text-decoration: none;
      color: #ee7b22; }
      .navbar-nav li a:hover {
        color: #bf3341;
        transform: translateY(-10px); }

footer {
  background: linear-gradient(to right, #51d1a1, #620ee7);
  margin-top: 0%; }
  footer .links {
    font-family: "Noto Serif", serif;
    font-size: 2.5em;
    text-decoration: none;
    color: #ee7b22; }
    footer .links:hover {
      color: #bf3341; }

hr {
  border-top: 0px; }

.mb-5 .d-flex {
  border: none; }
  .mb-5 .d-flex div p {
    font-family: "Noto Serif", serif;
    font-size: 2em;
    color: #fff; }

.text-footer {
  font-family: 'noto serif', serif;
  text-decoration: none;
  color: #ee7b22; }
  .text-footer:hover {
    color: #fff; }

.home {
  background: linear-gradient(to right, #51d1a1, #620ee7);
  overflow-x: hidden;
  font-size: 62.5%; }

.section-card {
  background: linear-gradient(to right, #51d1a1, #620ee7);
  margin-bottom: 0;
  justify-content: center; }

.card {
  background: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  border: none; }
  .card .card-img-top {
    width: 80%;
    margin-left: 10%;
    border-radius: 5%; }
  .card .card-body h5 {
    font-family: "Noto Serif", serif;
    font-size: 2.5em;
    color: #ee7b22; }
    .card .card-body h5:hover {
      color: #bf3341; }
  .card .card-body p {
    font-family: "Noto Serif", serif;
    font-size: 2em;
    color: #ee7b22; }
    .card .card-body p:hover {
      color: #fff; }
