@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%; }

a img {
  width: 20%; }

.navbar-brand {
  display: flex;
  width: 40%; }

button img {
  display: flex;
  justify-items: end;
  align-items: center; }

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.container-fluid {
  display: flex;
  justify-content: space-around;
  width: 100%; }

.navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .navbar-nav li {
    font-family: "Noto Serif", serif;
    font-size: 3em; }
    .navbar-nav li a {
      text-decoration: none;
      color: #f7f5f4; }
      .navbar-nav li a:hover {
        color: #bf3341;
        transform: translateY(-10px); }

footer {
  margin-top: 0%; }
  footer .links {
    font-family: "Noto Serif", serif;
    font-size: 2.5em;
    text-decoration: none;
    color: #215240; }
    footer .links:hover {
      color: #bf3341; }

hr {
  border-top: 0px; }

.mb-5 .d-flex {
  border: none; }
  .mb-5 .d-flex div p {
    font-family: "Noto Serif", serif;
    font-size: 2em;
    color: #215240; }

.text-footer {
  font-family: 'noto serif', serif;
  text-decoration: none;
  color: #215240; }
  .text-footer:hover {
    color: #fff; }

.home {
  background: linear-gradient(to bottom, #215240, #e4ece9);
  overflow-x: hidden;
  font-size: 62.5%; }

.section-card {
  background: transparent;
  margin-bottom: 0;
  justify-content: center; }

.card {
  background: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
  border: none; }
  .card .card-img-top {
    width: 80%;
    margin-left: 10%;
    border-radius: 5%; }
  .card .card-body h5 {
    font-family: "Noto Serif", serif;
    font-size: 2.5em;
    color: #215240; }
    .card .card-body h5:hover {
      color: #bf3341; }
  .card .card-body p {
    font-family: "Noto Serif", serif;
    font-size: 2em;
    color: #215240; }
    .card .card-body p:hover {
      color: #fff; }

.main-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center; }

.cards-sucu, .cards-sucu-2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }

.cards-sucu .card img, .cards-sucu-2 .card img {
  border: 2px solid #215240; }

.cards-sucu .card .card-body p, .cards-sucu-2 .card .card-body p {
  color: #f7f5f4; }
  .cards-sucu .card .card-body p:hover, .cards-sucu-2 .card .card-body p:hover {
    color: #bf3341; }

.cards-sucu-2 .card img {
  border: 2px solid #e4ece9; }

.cards-sucu-2 .card .card-body p {
  color: #215240; }
  .cards-sucu-2 .card .card-body p:hover {
    color: #bf3341; }

.main-page-contacto {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .main-page-contacto .title-contacto {
    display: flex;
    width: 100%;
    justify-content: center; }
    .main-page-contacto .title-contacto h3 {
      display: flex;
      font-family: "Noto Serif", serif;
      color: #f7f5f4;
      margin-top: 2%;
      margin-bottom: 2%; }

.section-contacto {
  display: flex;
  width: 100%; }

.form-contacto, .pic-presentation {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 2%;
  padding-right: 2%; }

.section-contacto .pic-presntation img {
  transform: rotateY(45deg);
  width: 50%; }
