@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

//font family
$font-vivero: 'Noto Serif', serif;

//font size
$size-nav:3em;
$size-title-cards:2.5em;
$size-text-cards:2em;
$size-text-nosotros:1.5em;

// font color

$color-index: rgb(247, 245, 244);
$color-main: rgb(33, 82, 64);
$color-card-title-hover: rgb(191, 51, 65);
$color-card-text-hover: #fff;
$color-title-nosotros: rgb(250, 150, 0);