// arreglos generales a todo el index




// background color of the entire page

.home{
    background: $backgroundcolor;
    overflow-x: hidden;
    font-size: 62.5%;
}

// carrusel 

.carousel-item{
    display: flex;
    justify-content: center;
    }

.carousel-item.active{
    display: flex;
    justify-content: center;
}

.carousel-fade{
    display: flex;
    justify-content: center;
}


.title-h1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 3%;
    color: $color-card-title-hover;
    font-size: $size-nav;
    font-family: $font-vivero;
}

// estilo de las cards

.section-card{
	background: transparent;
	margin-bottom: 0;
	justify-content: center;
}

.card{
	background: none;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;
	border: none;
    .card-img-top{
	    width: 80%;
	    margin-left: 10%;
	    border-radius: 5%;
    }
    .card-body{
        h5{
            font-family: $font-vivero;
	        font-size: $size-title-cards;
	        color: $color-main;
            &:hover{
                color: $color-card-title-hover;
            }

        }
        p{
            font-family: $font-vivero;
	        font-size: $size-text-cards;
	        color: $color-main;
            &:hover{
                color: $color-card-text-hover;
            }
        }
    }
}

// fin estilo cards